<div class="flex justify-between px-[13vw] py-[4vh] h-auto gap-[2rem]">
    <img src="https://sentientgeeks.com/images/aboutus/about-img3.webp" alt="section2" class="w-[40%] h-auto">
    <div class="flex flex-col gap-[1rem] w-[47%]">
        <span class="text-[2.25rem] font-bold text-[#0e57a5] font-poppins">End-To-End Smart <span class="text-[#dd4a48]">Software Development Solution</span></span>
        <span class="text-[#747078] text-[1.125rem]">
            <p class="mb-2">As a certified & accredited software application Development Company we are focused on helping your business grow by roping in upgraded technologies. We consider facets of your projects, allowing us to identify issues & get them resolved before it takes the entire course.</p>
            <p class="mb-2">Our offshore software development company offer the best combination of technology stacks to solve the challenges.</p>
            <p class="mb-2">Our robust foothold of seasoned skills, creative ideas & consistency to deliver results with perfection makes us unique. With our innovative strategies & proven technical expertise, our primary goal is to accelerate your business.</p>
        </span>
        <button class="flex gap-4 font-bold text-[1.125rem] text-[#0e57a5] items-center learn transition-all duration-200 w-fit">
            <span>Learn More On Us</span>
            <span class="arrow"></span>
        </button>
    </div>
</div>
