<div class="flex gap-6 grow w-full h-full justify-start">
    <div class="h-fit flex flex-col gap-8 w-[60vw] bg-white rounded-2xl overflow-hidden p-6 shadow-primary">
        <img class="w-full h-[20vh] object-cover rounded-2xl" src="https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/img/curved-images/curved0.jpg" alt="background" />
        <div class="flex justify-between p-6 backdrop-blur-lg bg-white/80 mx-6 mt-[-10vh] rounded-2xl shadow-lg">
            <div class="flex gap-4 items-center">
                <img class="w-20 h-20 bg-gray-500 rounded-xl" src="https://static.vecteezy.com/system/resources/thumbnails/027/951/137/small_2x/stylish-spectacles-guy-3d-avatar-character-illustrations-png.png" alt="profile" />
                <div class="flex flex-col gap-2">
                    <span class="text-lg font-bold text-[#344767]">SOHAM GON</span>
                    <span class="text-sm text-[#67748e]">+91 9051018504</span>
                </div>
            </div>
            <div class="flex gap-4">

            </div>
        </div>
        <div class="flex flex-col gap-4 mx-6">
            <h3 class="text-xl font-bold text-[#344767]">About Me</h3>
            <p class="text-[#67748e] text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt est quam rem, quod aliquid, delectus praesentium nisi necessitatibus explicabo quibusdam accusamus suscipit natus eum recusandae voluptates unde tempore eius in! Distinctio eveniet mollitia perferendis.</p>
        </div>
    </div>
    <div class="flex flex-col rounded-2xl shadow-primary px-8 py-4 bg-white flex-grow">
        <h2 class="text-2xl font-bold text-[#303030] mb-4">Connections</h2>
        @for(connection of connections; track connection.name) {
            <div class="flex gap-4 items-center p-4 rounded-xl w-full">
                <!-- <img class="w-12 h-12 bg-gray-500 rounded-xl" src={{connection.avatar}} alt="profile" /> -->
                <div class="relative">
                    <img class="w-14 h-12 rounded-xl bg-gray-500" src={{connection.avatar}} alt="profile">
                    <span class="bottom-0 start-10 absolute w-3.5 h-3.5 border-2 border-white rounded-full" 
                        [style]="{backgroundColor: connection.status? 'rgb(34 197 94)': 'rgb(239 68 68)'}"
                    ></span>
                </div>
                <div class="flex justify-between w-full items-center">
                    <div class="flex flex-col gap-2">
                        <span class="text-lg font-bold text-[#344767]">{{ connection.name }}</span>
                        <span class="text-sm text-[#67748e]">{{ connection.contact }}</span>
                    </div>
                    <button class="text-sm text-white rounded-xl w-[6vw] h-[3vh] flex items-center justify-center bg-[#6E00FF] spacing-[-1px]">Send Message</button>
                </div>
            </div>
        }
    </div>
</div>